body {
	display: flex;
	justify-content: center;
}
input {
	width: 50px;
	height: 50px;
	border: 0.5px solid #808080;
	border-radius: 10%;
	color: #000;
	font-size: large;
	font-weight: 600;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
}
